langchain
langgraph
langchain_community
langchain_core
langchain-text-splitters
langchain_huggingface
faiss-cpu
docling 
sentence-transformers
langchain_groq
pydantic
python-dotenv
pydantic-settings
python-box
fastapi
uvicorn
faster-whisper
python-multipart
streamlit
streamlit-mic-recorder
streamlit-webrtc
soundfile
pydub
requests
edge-tts